#tab-panel-body {
    background-image: url(images/square.gif);
}

.x-splash-icon {
    /* Important required due to the loading symbols CSS selector */
    background-color: #1E4176 !important;
}

#app-header {
    background: #1E4176;
}

.product {
    background-image: url(images/product.png);
}

.variant {
    background-image: url(images/variant.png);
}

.variant_type {
    background-image: url(images/variant_type.png);
}

.category {
    background-image: url(images/category.png);
}

.catalog {
    background-image: url(images/catalog.png);
}

.catalog_version {
    background-image: url(images/catalog_version.png);
}

.unit {
    background-image: url(images/unit.png);
}

.stock_level {
    background-image: url(images/stock_level.png);
}

.keyword {
    background-image: url(images/keyword.png);
}

.price {
    background-image: url(images/price.png);
}

.discount {
    background-image: url(images/discount.png);
}

.tax {
    background-image: url(images/tax.png);
}

.packaging {
    background-image: url(images/packaging.png);
}

.abstract_order_entry {
    background-image: url(images/abstract_order_entry.png);
}

.invoice {
    background-image: url(images/invoice.png);
}

.delivery_mode {
    background-image: url(images/delivery_mode.png);
}

.payment_mode {
    background-image: url(images/payment_mode.png);
}

.payment_transaction {
    background-image: url(images/payment_transaction.png);
}

.search_facet_config {
    background-image: url(images/search_facet_config.png);
}

.slider_facet {
    background-image: url(images/slider_facet.png);
}

.search_text_facet {
    background-image: url(images/search_text_facet.png);
}

.search_term_facet {
    background-image: url(images/search_term_facet.png);
}

.search_server_config {
    background-image: url(images/search_server_config.png);
}

.range_facet {
    background-image: url(images/range_facet.png);
}

.search_facet {
    background-image: url(images/search_facet.png);
}

.employee {
    background-image: url(images/employee.png);
}

.abstract_filter {
    background-image: url(images/abstract_filter.png);
}

.product_reference {
    background-image: url(images/product_reference.png);
}

.usergroup {
    background-image: url(images/usergroup.png);
}

.address {
    background-image: url(images/address.png);
}

.title {
    background-image: url(images/title.png);
}

.locale {
    background-image: url(images/locale.png);
}

.currency {
    background-image: url(images/currency.png);
}

.country {
    background-image: url(images/country.png);
}

.region {
    background-image: url(images/region.png);
}

.voucher {
    background-image: url(images/voucher.png);
}

.voucher_invalidation {
    background-image: url(images/voucher_invalidation.png);
}

.customer_review {
    background-image: url(images/customer_review.png);
}

.newsletter_subscriber {
    background-image: url(images/newsletter_subscriber.png);
}

.warehouse {
    background-image: url(images/warehouse.png);
}

.point_of_service {
    background-image: url(images/point_of_service.png);
}

.storelocatorpointofservice {
    background-image: url(images/storelocatorpointofservice.png);
}

.opening_schedule {
    background-image: url(images/opening_schedule.png);
}

.storefinder_configuration {
    background-image: url(images/storefinder_configuration.png);
}

.content_page {
    background-image: url(images/content_page.png);
}

.category_page {
    background-image: url(images/category_page.png);
}

.product_page {
    background-image: url(images/product_page.png);
}

.email_page {
    background-image: url(images/email_page.png);
}

.invoice_page {
    background-image: url(images/invoice_page.png);
}

.site {
    background-image: url(images/site.png);
}

.site_theme {
    background-image: url(images/site_theme.png);
}

.simple_banner_widget {
    background-image: url(images/simple_banner_widget.png);
}

.cms_link_widget {
    background-image: url(images/chain.png);
}

.cms_paragraph_widget {
    background-image: url(images/cms_paragraph_widget.png);
}

.cms_poll_widget {
    background-image: url(images/cms_poll_widget.png);
}

.footer_cms_widget {
    background-image: url(images/footer_cms_widget.png);
}

.minicart_cms_widget {
    background-image: url(images/abstract_order.png);
}

.cookie_policy_widget {
    background-image: url(images/cookie.png);
}

.category_lister_widget {
    background-image: url(images/categories.png);
}

.navbar_cms_widget {
    background-image: url(images/navbar_cms_widget.png);
}

.product_carousel_cms_widget {
    background-image: url(images/product_carousel_cms_widget.png);
}

.wishlist_cms_widget {
    background-image: url(images/wishlist_cms_widget.png);
}

.blog_entry {
    background-image: url(images/blog_entry.png);
}

.blog_category {
    background-image: url(images/blog_category.png);
}

.sitemap_config {
    background-image: url(images/sitemap.png);
}

.sitemap_page {
    background-image: url(images/sitemap_page.png);
}

.wishlist {
    background-image: url(images/wishlist.png);
}

.wishlist_entry {
    background-image: url(images/wishlist_entry.png);
}

.promotion {
    background-image: url(images/promotion.png);
}

.promotion_group {
    background-image: url(images/promotion_group.png);
}

.promotion_result {
    background-image: url(images/promotion_result.png);
}

.cronjob {
    background-image: url(images/cronjob.png);
}

.social_configuration {
    background-image: url(images/social_configuration.png);
}

.storage_configuration {
    background-image: url(images/storage_configuration.png);
}

.local_storage_configuration {
    background-image: url(images/local_storage_configuration.png);
}

.remote_storage_configuration {
    background-image: url(images/remote_storage_configuration.png);
}

.s3_storage_configuration {
    background-image: url(images/s3_storage_configuration.png);
}

.excelexport {
    background-image: url(images/excel-csv.png);
}

.pdfexport {
    background-image: url(images/export-pdf.png);
}

.localized-iso-dropdown .x-form-text-field-body-default {
    min-width: 60px;
    max-width: 60px;
}
