#tab-panel-body {
    background-image: url(images/square.gif);
}

.x-splash-icon {
    /* Important required due to the loading symbols CSS selector */
    background-color: #1E4176 !important;
}

#app-header {
    background: #1E4176;
}

.localized-iso-dropdown .x-form-text-field-body-default {
    min-width: 60px;
    max-width: 60px;
}

.richtext-localized-iso-dropdown .x-form-text-field-body-default {
    min-width: 60px;
    max-width: 60px;
}
