#content-panel-body {
    background-image: url('images/square.gif');
}

.x-mask.splashscreen {
    background-image: url('images/square.gif');
    opacity: 1;
}

.splashscreen .x-mask-msg-text {
    background-image: url('../img/loading.gif');
    background-size: 40px 40px;
    background-position: top center;
    padding: 55px 5px 5px 20px;
}

.x-mask-msg.splashscreen .x-mask-msg-inner {
    font-size: 16px;
    padding: 10px 5px 5px 5px;
    border: none;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-color: transparent;
    background-position: top center;
    position: relative;
}

.x-mask-msg.splashscreen {
    padding: 30px 0px 5px 0px;
    border: 1px #D0D0D0 solid;
    border-radius: 5px;
    background-color: white;
    background-position: top center;
    width: 380px;
    text-align: center;
    margin: 250px auto;
    position: relative;
    box-shadow: 0px 2px 25px #888888;
}

.x-message-box .x-window-body .x-box-inner {
    min-height: 110px !important;
}

.x-splash-icon {
    /* Important required due to the loading symbols CSS selector */
    background-image: url('images/logo-splash.png') !important;
    background-repeat: no-repeat;
    background-position: top center;
    margin-top: -30px;
    margin-bottom: 10px;
    padding: 30px 5px 5px 5px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

/* line 71, ../sass/accessories/scss/_pictos.scss */
.base-pictos {
    font-family: Pictos;
    color: transparent;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    -o-background-clip: text;
    -ms-background-clip: text;
    -khtml-background-clip: text;
    background-clip: text;
    position: absolute;
    top: 0;
    left: 0;
}

@import url("//fonts.googleapis.com/css?family=false:false");
/* line 3, ../sass/accessories/scss/_shapes.scss */
.base-shape {
    display: block;
    content: '';
}

.x-grid-body {
    border-bottom: 0 !important;
}

#examplePanel-body {
    background-color: #e4eaed;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 1, color-stop(100%, #f3f6f7), color-stop(100%, rgba(243, 246, 247, 0))), -webkit-gradient(linear, 0% 50%, 1 50%, color-stop(100%, #f3f6f7), color-stop(100%, rgba(243, 246, 247, 0))), -webkit-gradient(linear, 50% 0%, 50% 1, color-stop(100%, rgba(255, 255, 255, 0.3)), color-stop(100%, rgba(243, 246, 247, 0))), -webkit-gradient(linear, 0% 50%, 1 50%, color-stop(100%, rgba(255, 255, 255, 0.3)), color-stop(100%, rgba(243, 246, 247, 0)));
    background-image: -webkit-linear-gradient(top, #f3f6f7 1px, rgba(243, 246, 247, 0) 1px), -webkit-linear-gradient(left, #f3f6f7 1px, rgba(243, 246, 247, 0) 1px), -webkit-linear-gradient(top, rgba(255, 255, 255, 0.3) 1px, rgba(243, 246, 247, 0) 1px), -webkit-linear-gradient(left, rgba(255, 255, 255, 0.3) 1px, rgba(243, 246, 247, 0) 1px);
    background-image: -moz-linear-gradient(top, #f3f6f7 1px, rgba(243, 246, 247, 0) 1px), -moz-linear-gradient(left, #f3f6f7 1px, rgba(243, 246, 247, 0) 1px), -moz-linear-gradient(top, rgba(255, 255, 255, 0.3) 1px, rgba(243, 246, 247, 0) 1px), -moz-linear-gradient(left, rgba(255, 255, 255, 0.3) 1px, rgba(243, 246, 247, 0) 1px);
    background-image: -o-linear-gradient(top, #f3f6f7 1px, rgba(243, 246, 247, 0) 1px), -o-linear-gradient(left, #f3f6f7 1px, rgba(243, 246, 247, 0) 1px), -o-linear-gradient(top, rgba(255, 255, 255, 0.3) 1px, rgba(243, 246, 247, 0) 1px), -o-linear-gradient(left, rgba(255, 255, 255, 0.3) 1px, rgba(243, 246, 247, 0) 1px);
    background-image: -ms-linear-gradient(top, #f3f6f7 1px, rgba(243, 246, 247, 0) 1px), -ms-linear-gradient(left, #f3f6f7 1px, rgba(243, 246, 247, 0) 1px), -ms-linear-gradient(top, rgba(255, 255, 255, 0.3) 1px, rgba(243, 246, 247, 0) 1px), -ms-linear-gradient(left, rgba(255, 255, 255, 0.3) 1px, rgba(243, 246, 247, 0) 1px);
    background-image: linear-gradient(top, #f3f6f7 1px, rgba(243, 246, 247, 0) 1px), linear-gradient(left, #f3f6f7 1px, rgba(243, 246, 247, 0) 1px), linear-gradient(top, rgba(255, 255, 255, 0.3) 1px, rgba(243, 246, 247, 0) 1px), linear-gradient(left, rgba(255, 255, 255, 0.3) 1px, rgba(243, 246, 247, 0) 1px);
    background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
    background-position: -2px, -2px, -2px, -2px;
}

.examples-list .x-grid-cell,
.examples-list .x-grid-rowwrap-div {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    -ms-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
}

/* header */
#app-header {
    border: 0;
    padding-left: 10px;
}

#app-header .x-logo {
    top: 6px;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

#app-header .x-logo:hover {
    text-shadow: 1px 1px 8px white;
}

#logout-form-body {
    background: none;
}

#app-header .x-logout-link {
    top: 6px;
    color: #fff;
    text-decoration: underline;
    padding-right: 10px;
    font-size: 12px;
    float: right;
}

#app-header .x-language-selector {
    padding-right: 10px;
}

/* common for all */
.x-form-trigger-wrap {
    width: 100% !important;
}

.x-form-entity-trigger {
    height: 22px;
    cursor: pointer;
    overflow: hidden;
    border-bottom: 1px solid;
    border-right: 1px solid;
    background-color: #efefef;
    background-repeat: no-repeat;
    border-top: 1px solid;
    border-top-right-radius: 2px;
    border-bottom: 1px solid;
    border-color: #b5b8c8;
    background-position: 0 3px;
    background-repeat: no-repeat;
}

.nemesisLocalizedField > fieldset {
    margin: 0;
    padding: 0;
}

.nemesisLocalizedRichtextField > fieldset {
    margin: 0;
    padding: 0;
}

.field-restriction {
    float: left;
    margin-right: 10px;
}

.search-btn {
    background-image: url(images/search.png);
}

.save {
    background-image: url(images/save.png);
}

.saveandclose {
    background-image: url(images/saveandclose.png);
}

.delete {
    background-image: url(images/delete.png);
}

.refresh {
    background-image: url(images/refresh.png);
}

.synchronize {
    background-image: url(images/synchronize.png);
}

.add {
    background-image: url(images/add.png);
}

.edit {
    background-image: url(images/edit.png);
}

.copy {
    background-image: url(images/copy.png);
}

.paste {
    background-image: url(images/paste.png);
}

.delete {
    background-image: url(images/delete.png);
}

.broom {
    background-image: url(images/broom.png);
}

.tick {
    background-image: url(images/tick.png);
}

.reset {
    background-image: url(images/reset.png);
}

/* common for cms */
.content_slot {
    background-image: url(images/content_slot.png);
}

.email_configuration {
    background-image: url(images/email_configuration.png);
}

.simple_cms_widget {
    background-image: url(images/simple_cms_widget.png);
}

.abstract_page {
    background-image: url(images/abstract_page.png);
}

.abstract_template {
    background-image: url(images/abstract_template.png);
}

.media {
    background-image: url(images/media.png);
}

.media_format {
    background-image: url(images/media_format.png);
}

.media_folder {
    background-image: url(images/media_folder.png);
}

.media_container {
    background-image: url(images/media_container.png);
}

.media_watermark {
    background-image: url(images/media_watermark.png);
}

/* common for helpline */
.customer {
    background-image: url(images/customer.png);
}

.abstract_order {
    background-image: url(images/abstract_order.png);
}

