#content-panel-body {
    background-image: url('images/square.gif');
}

.x-mask.splashscreen {
    background-image: url('images/square.gif');
    opacity: 1;
}

.splashscreen .x-mask-msg-text {
    background-image: url('../img/loading.gif');
    background-size: 40px 40px;
    background-position: top center;
    padding: 55px 5px 5px 20px;
}

.x-mask-msg.splashscreen .x-mask-msg-inner {
    font-size: 16px;
    padding: 10px 5px 5px 5px;
    border: none;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-color: transparent;
    background-position: top center;
    position: relative;
}

.x-mask-msg.splashscreen {
    padding: 30px 0px 5px 0px;
    border: 1px #D0D0D0 solid;
    border-radius: 5px;
    background-color: white;
    background-position: top center;
    width: 380px;
    text-align: center;
    margin: 250px auto;
    position: relative;
    box-shadow: 0px 2px 25px #888888;
}

.x-splash-icon {
    /* Important required due to the loading symbols CSS selector */
    background-image: url('images/logo-splash.png') !important;
    background-repeat: no-repeat;
    background-position: top center;
    margin-top: -30px;
    margin-bottom: 10px;
    padding: 30px 5px 5px 5px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

/* line 71, ../sass/accessories/scss/_pictos.scss */
.base-pictos {
    font-family: Pictos;
    color: transparent;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    -o-background-clip: text;
    -ms-background-clip: text;
    -khtml-background-clip: text;
    background-clip: text;
    position: absolute;
    top: 0;
    left: 0;
}

@import url("//fonts.googleapis.com/css?family=false:false");
/* line 3, ../sass/accessories/scss/_shapes.scss */
.base-shape {
    display: block;
    content: '';
}

.x-grid-body {
    border-bottom: 0 !important;
}

#examplePanel-body {
    background-color: #e4eaed;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 1, color-stop(100%, #f3f6f7), color-stop(100%, rgba(243, 246, 247, 0))), -webkit-gradient(linear, 0% 50%, 1 50%, color-stop(100%, #f3f6f7), color-stop(100%, rgba(243, 246, 247, 0))), -webkit-gradient(linear, 50% 0%, 50% 1, color-stop(100%, rgba(255, 255, 255, 0.3)), color-stop(100%, rgba(243, 246, 247, 0))), -webkit-gradient(linear, 0% 50%, 1 50%, color-stop(100%, rgba(255, 255, 255, 0.3)), color-stop(100%, rgba(243, 246, 247, 0)));
    background-image: -webkit-linear-gradient(top, #f3f6f7 1px, rgba(243, 246, 247, 0) 1px), -webkit-linear-gradient(left, #f3f6f7 1px, rgba(243, 246, 247, 0) 1px), -webkit-linear-gradient(top, rgba(255, 255, 255, 0.3) 1px, rgba(243, 246, 247, 0) 1px), -webkit-linear-gradient(left, rgba(255, 255, 255, 0.3) 1px, rgba(243, 246, 247, 0) 1px);
    background-image: -moz-linear-gradient(top, #f3f6f7 1px, rgba(243, 246, 247, 0) 1px), -moz-linear-gradient(left, #f3f6f7 1px, rgba(243, 246, 247, 0) 1px), -moz-linear-gradient(top, rgba(255, 255, 255, 0.3) 1px, rgba(243, 246, 247, 0) 1px), -moz-linear-gradient(left, rgba(255, 255, 255, 0.3) 1px, rgba(243, 246, 247, 0) 1px);
    background-image: -o-linear-gradient(top, #f3f6f7 1px, rgba(243, 246, 247, 0) 1px), -o-linear-gradient(left, #f3f6f7 1px, rgba(243, 246, 247, 0) 1px), -o-linear-gradient(top, rgba(255, 255, 255, 0.3) 1px, rgba(243, 246, 247, 0) 1px), -o-linear-gradient(left, rgba(255, 255, 255, 0.3) 1px, rgba(243, 246, 247, 0) 1px);
    background-image: -ms-linear-gradient(top, #f3f6f7 1px, rgba(243, 246, 247, 0) 1px), -ms-linear-gradient(left, #f3f6f7 1px, rgba(243, 246, 247, 0) 1px), -ms-linear-gradient(top, rgba(255, 255, 255, 0.3) 1px, rgba(243, 246, 247, 0) 1px), -ms-linear-gradient(left, rgba(255, 255, 255, 0.3) 1px, rgba(243, 246, 247, 0) 1px);
    background-image: linear-gradient(top, #f3f6f7 1px, rgba(243, 246, 247, 0) 1px), linear-gradient(left, #f3f6f7 1px, rgba(243, 246, 247, 0) 1px), linear-gradient(top, rgba(255, 255, 255, 0.3) 1px, rgba(243, 246, 247, 0) 1px), linear-gradient(left, rgba(255, 255, 255, 0.3) 1px, rgba(243, 246, 247, 0) 1px);
    background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
    background-position: -2px, -2px, -2px, -2px;
}

.examples-list .x-grid-cell,
.examples-list .x-grid-rowwrap-div {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    -ms-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
}

/* header */
#app-header {
    border: 0;
    padding-left: 10px;
}

#app-header .x-logo {
    top: 6px;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

#app-header .x-logo:hover {
    text-shadow: 1px 1px 8px white;
}

#logout-form-body {
    background: none;
}

#app-header .x-logout-link {
    top: 6px;
    color: #fff;
    text-decoration: underline;
    padding-right: 10px;
    font-size: 12px;
    float: right;
}

#app-header .x-language-selector {
    padding-right: 10px;
}

/* common for all */
.x-form-trigger-wrap {
    width: 100% !important;
}

.x-form-entity-trigger {
    height: 22px;
    cursor: pointer;
    overflow: hidden;
    border-bottom: 1px solid;
    border-right: 1px solid;
    background-color: #efefef;
    background-repeat: no-repeat;
    border-top: 1px solid;
    border-top-right-radius: 2px;
    border-bottom: 1px solid;
    border-color: #b5b8c8;
    background-position: 0 3px;
    background-repeat: no-repeat;
}

.x-form-entity-trigger.x-form-trigger-focus {
    background-position: 0 3px;
}

.x-form-entity-trigger.x-form-trigger-over {
    background-position: 0 3px;
}

.x-form-trigger.x-form-entity-trigger.x-form-trigger-click {
    background-position: 0 3px;
}

.x-form-entity-trigger.x-form-trigger-over.x-form-trigger-focus {
    background-position: 0 3px;
}

.nemesisLocalizedField > fieldset, .nemesisLocalizedRichtextField > fieldset {
    margin: 0;
    padding: 0;
}

.field-restriction {
    float: left;
    margin-right: 10px;
}

.nemesisLocalizedField .field-restriction {
    margin-right: 20px;
}

.search-btn {
    background-image: url(images/search.png);
}

.save {
    background-image: url(images/save.png);
}

.saveandclose {
    background-image: url(images/saveandclose.png);
}

.refresh {
    background-image: url(images/refresh.png);
}

.synchronize {
    background-image: url(images/synchronize.png);
}

.add {
    background-image: url(images/add.png);
}

.edit {
    background-image: url(images/edit.png);
}

.copy {
    background-image: url(images/copy.png);
}

.paste {
    background-image: url(images/paste.png);
}

.delete {
    background-image: url(images/delete.png);
}

.broom {
    background-image: url(images/broom.png);
}

.tick {
    background-image: url(images/tick.png);
}

.reset {
    background-image: url(images/reset.png);
}

.content_slot {
    background-image: url(images/content_slot.png);
}

.email_configuration {
    background-image: url(images/email_configuration.png);
}

.widget {
    background-image: url(images/widget.png);
}

.abstract_page {
    background-image: url(images/abstract_page.png);
}

.abstract_template {
    background-image: url(images/abstract_template.png);
}

.media {
    background-image: url(images/media.png);
}

.media_format {
    background-image: url(images/media_format.png);
}

.media_folder {
    background-image: url(images/media_folder.png);
}

.media_container {
    background-image: url(images/media_container.png);
}

.media_watermark {
    background-image: url(images/media_watermark.png);
}

.customer {
    background-image: url(images/customer.png);
}

.abstract_order {
    background-image: url(images/abstract_order.png);
}

.product {
    background-image: url(images/product.png);
}

.variant {
    background-image: url(images/variant.png);
}

.variant_type {
    background-image: url(images/variant_type.png);
}

.category {
    background-image: url(images/category.png);
}

.catalog {
    background-image: url(images/catalog.png);
}

.catalog_version {
    background-image: url(images/catalog_version.png);
}

.unit {
    background-image: url(images/unit.png);
}

.stock_level {
    background-image: url(images/stock_level.png);
}

.keyword {
    background-image: url(images/keyword.png);
}

.price {
    background-image: url(images/price.png);
}

.discount {
    background-image: url(images/discount.png);
}

.tax {
    background-image: url(images/tax.png);
}

.packaging {
    background-image: url(images/packaging.png);
}

.abstract_order_entry {
    background-image: url(images/abstract_order_entry.png);
}

.invoice {
    background-image: url(images/invoice.png);
}

.organization {
    background-image: url(images/organization.png);
}

.delivery_mode {
    background-image: url(images/delivery_mode.png);
}

.payment_mode {
    background-image: url(images/payment_mode.png);
}

.payment_transaction {
    background-image: url(images/payment_transaction.png);
}

.search_facet_config {
    background-image: url(images/search_facet_config.png);
}

.slider_facet {
    background-image: url(images/slider_facet.png);
}

.search_text_facet {
    background-image: url(images/search_text_facet.png);
}

.search_term_facet {
    background-image: url(images/search_term_facet.png);
}

.search_server_config {
    background-image: url(images/search_server_config.png);
}

.range_facet {
    background-image: url(images/range_facet.png);
}

.search_facet {
    background-image: url(images/search_facet.png);
}

.employee {
    background-image: url(images/employee.png);
}

.abstract_filter {
    background-image: url(images/abstract_filter.png);
}

.product_reference {
    background-image: url(images/product_reference.png);
}

.usergroup {
    background-image: url(images/usergroup.png);
}

.address {
    background-image: url(images/address.png);
}

.deeplink_url {
    background-image: url(images/deeplink_url.png);
}

.title {
    background-image: url(images/title.png);
}

.locale {
    background-image: url(images/locale.png);
}

.currency {
    background-image: url(images/currency.png);
}

.country {
    background-image: url(images/country.png);
}

.region {
    background-image: url(images/region.png);
}

.voucher {
    background-image: url(images/voucher.png);
}

.voucher_invalidation {
    background-image: url(images/voucher_invalidation.png);
}

.customer_review {
    background-image: url(images/customer_review.png);
}

.newsletter_subscriber {
    background-image: url(images/newsletter_subscriber.png);
}

.warehouse {
    background-image: url(images/warehouse.png);
}

.point_of_service {
    background-image: url(images/point_of_service.png);
}

.storelocatorpointofservice {
    background-image: url(images/storelocatorpointofservice.png);
}

.opening_schedule {
    background-image: url(images/opening_schedule.png);
}

.storefinder_configuration {
    background-image: url(images/storefinder_configuration.png);
}

.content_page {
    background-image: url(images/content_page.png);
}

.category_page {
    background-image: url(images/category_page.png);
}

.product_page {
    background-image: url(images/product_page.png);
}

.email_message {
    background-image: url(images/email_message.png);
}

.invoice_page {
    background-image: url(images/invoice_page.png);
}

.site {
    background-image: url(images/site.png);
}

.site_theme {
    background-image: url(images/site_theme.png);
}

.simple_banner_widget {
    background-image: url(images/simple_banner_widget.png);
}

.cms_link_widget {
    background-image: url(images/chain.png);
}

.cms_paragraph_widget {
    background-image: url(images/cms_paragraph_widget.png);
}

.cms_poll_widget {
    background-image: url(images/cms_poll_widget.png);
}

.footer_cms_widget {
    background-image: url(images/footer_cms_widget.png);
}

.minicart_cms_widget {
    background-image: url(images/abstract_order.png);
}

.cookie_policy_widget {
    background-image: url(images/cookie.png);
}

.category_lister_widget {
    background-image: url(images/categories.png);
}

.navbar_cms_widget {
    background-image: url(images/navbar_cms_widget.png);
}

.product_carousel_cms_widget {
    background-image: url(images/product_carousel_cms_widget.png);
}

.wishlist_cms_widget {
    background-image: url(images/wishlist_cms_widget.png);
}

.blog_entry {
    background-image: url(images/blog_entry.png);
}

.blog_category {
    background-image: url(images/blog_category.png);
}

.sitemap_config {
    background-image: url(images/sitemap.png);
}

.sitemap_page {
    background-image: url(images/sitemap_page.png);
}

.wishlist {
    background-image: url(images/wishlist.png);
}

.wishlist_entry {
    background-image: url(images/wishlist_entry.png);
}

.promotion {
    background-image: url(images/promotion.png);
}

.promotion_group {
    background-image: url(images/promotion_group.png);
}

.promotion_result {
    background-image: url(images/promotion_result.png);
}

.cronjob {
    background-image: url(images/cronjob.png);
}

.social_configuration {
    background-image: url(images/social_configuration.png);
}

.storage_configuration {
    background-image: url(images/storage_configuration.png);
}

.local_storage_configuration {
    background-image: url(images/local_storage_configuration.png);
}

.remote_storage_configuration {
    background-image: url(images/remote_storage_configuration.png);
}

.s3_storage_configuration {
    background-image: url(images/s3_storage_configuration.png);
}

.excelexport {
    background-image: url(images/excel-csv.png);
}

.pdfexport {
    background-image: url(images/export-pdf.png);
}
