<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ nemesis Platform - NExt-generation Multichannel E-commerce SYStem
  ~
  ~ Copyright (c) 2010 - 2016 nemesis
  ~ All rights reserved.
  ~
  ~ This software is the confidential and proprietary information of nemesis
  ~ ("Confidential Information"). You shall not disclose such Confidential
  ~ Information and shall use it only in accordance with the terms of the
  ~ license agreement you entered into with nemesis.
  -->
<Configuration status="info">
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%highlight{%d [%t] %-5level: %msg%n%throwable}"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="console" />
        </Root>
        <Logger name="org.springframework" level="warn" />
        <Logger name="org.springframework.aop.framework.Cglib2AopProxy" level="error" />
    </Loggers>
</Configuration>
